.displayForm {
    width: 340px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid deepskyblue;
}

.displayExternal {
    width: 340px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid deepskyblue;
    margin-bottom: 15px;
}

.settingsInput{
    width: 340px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid deepskyblue;
    margin-bottom: 15px;
}

.display {
    font-size: 1.5em;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid deepskyblue;
    color: deepskyblue;
}

.displayError {
    font-size: 1.5em;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid deepskyblue;
    color: red;
}